html, body {
  background-color:lightblue;
  background-image: url("../../image/back.jpg");
  background-position:bottom;
  background-repeat:repeat;
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;

}
h1{ 
	background-color:lightblue;
  font-size: 55px;
  color:orange;}
label{font-weight:bold}
form{margin-top:4%;}
input{border-radius: 12px; color: black; font-size: 16px;}