html, body {
  background-color:lightblue;
  background-image: url("../../image/123445.jpg");
  background-width:80%;
  background-position:bottom;
  background-repeat:no-repeat;
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 13px;
  text-align: center;


}
form{margin-top:2%;
   }
button{
  border-radius: 12px;
  font-size: 13px;
   background-color: #4CAF50;
   color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
